/* ALL PAGES */

body{
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: white;
}

h1{
  color: #AD5E99;
  font-size: 30px;
  text-align: center;
  padding: 10px; 
  font-family: 'Indie Flower';
}

h2{
  color: #839B3B;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  font-family: 'Indie Flower';
}

h3{
  color: #839B3B;
  font-size: 20px;
  text-align: left;
  padding: 10px;  
  margin-left: 40px;
  font-family: 'Indie Flower';
}

p {
  padding: 0 70px;
  line-height: 1.5;
}

.list {
  list-style-type: circle;
  padding-left: 120px;
  line-height: 1.5;
}

table{
  border: 1.5px solid #AD5E99;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 75%;
  font-size: 16px;
  line-height: 1.1;
}

.colhead{
background-color: #AD5E99;
color:white;
text-align: center;
font-family: 'Indie Flower';
font-size: 20px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding-bottom: 10px;
  border-bottom: 2px solid #AD5E99;
}

#banner{
  height: 150px;
}

.navbar{
 display: flex;
 flex-direction: row;
 font-family: 'Indie Flower';
 font-size: 20px;
}

.navbar p{
    color:#AD5E99;
    display: inline;
    padding: 0;
  }

a{
  color:#AD5E99;
  text-decoration: none;
}

a:hover, a:focus{
  color: #839B3B;
  text-decoration: underline;
  text-decoration-style: double;
}

#current{
  color: #AD5E99;
  text-decoration: underline;
  text-decoration-style: double;
}

.navitem a{
  padding: 10px;
}

#button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  height: 40px;
  border-radius: 7px;
  background: #D3D3D3;
  font-family: 'Indie Flower';
  font-size: 20px;
  text-shadow: 
      -1px -1px 1px rgba(255, 255, 255, 0.671), 
      2px 2px 1px #36363667;
}

#button a{
  font-weight: bold;
}

footer{
  background-color: #AD5E99;
  font-size: 10px;
  color: white;
  padding: 10px;
  text-align: right;
}

/* HOME PAGE (OR INDEX) */

#resumeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1.5px #AD5E99 solid;
}

/* PROJECTS PAGE */
.plantshopper{
  background-attachment: fixed; 
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: contain; /*I know this is usually cover sized but it stretched out the photo so I changed to contain*/
  color: white;
  height: 200px;                
  background-image: url("../images/plantshopper.png");
  background-color: white;
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

#userflow{
  display: grid;
  grid-template-columns: 1/-1;
  width:100%;
  align-items: center;
}

/* Thanks to W3 schools for helping with the following code to make a flip card */
.flip-card {
  background-color: transparent;
  width: 800px;
  height: 280px;
  perspective: 1000px;
  padding-left: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #AD5E99;
  color: white;
  transform: rotateY(180deg);
}

/* WRITING PAGE */

.hoosierabroad, .insider{
  display: grid;
  grid-template-columns: 500px 200px;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 15px;
  justify-content: center;
  align-content: center;
}

.hatitle{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}

.hacontent{
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
}

.haimg{
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
}

.intitle{
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
}

.incontent{
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
}

.inimg{
  grid-row: 1 / span 2;
}

/* ACTIVITIES PAGE */

.snapshots{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.snapshots > img{
  border: 3px #AD5E99 solid;
  margin: 5px;
  width: 200px;
  height: 150px;
}

@media only screen /* From https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ for iPads*/
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /*PROJECTS PAGE*/
    .flip-card {
      padding-left: 150px;}
}


@media screen /* From https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ for desktops with retina screens*/
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    /*PROJECTS PAGE*/
    .flip-card {
      padding-left: 250px;}
}
