/* ALL PAGES */
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus {
  position: absolute;
  top: 0px;
}

@media screen and (prefers-reduced-motion: reduce){
  .skip a{
    -webkit-transition: none;
    transition: none;
  }
}

body{
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: white;
}

h1{
  color: #AA5596;
  font-size: 30px;
  text-align: center;
  padding: 10px; 
  font-family: 'Indie Flower';
  animation: titleanim 0.5s linear both;
}

/* Got the animation code / idea from here: https://css-tricks.com/css-animation-libraries/ */

@keyframes titleanim {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
}

h2, legend, label{
  color: #839B3B;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  font-family: 'Indie Flower';
}

h3{
  color: #839B3B;
  font-size: 20px;
  text-align: left;
  padding: 10px;  
  margin-left: 40px;
  font-family: 'Indie Flower';
}

p {
  padding: 0 60px;
  line-height: 1.5;
  text-align: left;
}

#center{
  text-align: center;
}

table{
  border: 1.5px solid #AA5596;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 75%;
  font-size: 16px;
  line-height: 1.1;
}

.colhead{
background-color: #AA5596;
color:white;
text-align: center;
font-family: 'Indie Flower';
font-size: 20px;
padding: 8px;
}

td{
  padding: 8px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding-bottom: 10px;
  border-bottom: 2px solid #AA5596;
}

.navbar .bullet{
  display: none;
}

#banner{
  height: 150px;
}

.navbar{
 display: flex;
 flex-direction: column;
 font-family: 'Indie Flower';
 font-size: 20px;
}

.navbar p{
    color:#AA5596;
    display: inline;
    padding: 0;
  }

a{
  color:#AA5596;
  text-decoration: none;
}

a:hover, a:focus{
  color: #839B3B;
  text-decoration: underline;
  text-decoration-style: double;
}

#current{
  color: #AA5596;
  text-decoration: underline;
  text-decoration-style: double;
}

.navitem a{
  padding: 10px;
}

#button, #submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  height: 40px;
  border-radius: 7px;
  background: #D3D3D3;
  font-family: 'Indie Flower';
  font-size: 20px;
  text-shadow: 
      -1px -1px 1px rgba(255, 255, 255, 0.671), 
      2px 2px 1px #36363667;
}

footer{
  background-color: #AA5596;
  font-size: 10px;
  color: white;
  padding: 10px;
  text-align: right;
}


/* HOME PAGE (OR INDEX) */

.resume img {
  display: block;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  border: 1.5px #AA5596 solid;
}

/* Got the social media icon code from here: https://codepen.io/CF-251/pen/eGZLYV */

body {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper i {
  padding: 10px;
  text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}
.wrapper a:nth-child(1) {
  color: #0072b1;
}
.wrapper a:nth-child(2) {
  color: #C13584;
}
.wrapper a:nth-child(3) {
  color: #0B7BC1;
}
.wrapper i:hover {
  margin-top: -3px;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}


/* PROJECTS PAGE */

.plantshopper{
  background-attachment: fixed; 
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;
  color: white;
  height: 200px;                
  background-image: url("../images/plants.jpg");
  background-color: white;
}

/* Plant image from: https://www.google.com/search?q=plants+wallpaper&tbm=isch&ved=2ahUKEwj_3puGoJjoAhVDWawKHYk-BPEQ2-cCegQIABAA&oq=plant&gs_l=img.1.0.0i67l3j0j0i67l4j0j0i67.26538.26996..28827...0.0..0.115.556.0j5......0....1..gws-wiz-img.......0i131.fZXjnv4RgSA&ei=vOdrXv-QKsOysQWJ_ZCIDw&bih=561&biw=1263&safe=active&hl=en#imgrc=YegVvcalAo2xfM */

#userflow, #plantshopper{
  width:100%;
  min-height: 280px;
}

/* Thanks to W3 schools for helping with the following code to make a flip card */
.flip-card {
  background-color: transparent;
  width: 80%;
  height: 280px;
  perspective: 1000px;
  padding-left: 15%;
  overflow: hidden;
  justify-items: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #AA5596;
  color: white;
  transform: rotateY(180deg);
  padding: 50px 0;
}

/* WRITING PAGE */

.hoosierabroad, .insider{
  display: grid;
  grid-template-columns: 300px 100px;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 15px;
  justify-content: center;
  align-content: center;
}

.title{
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
}

.content{
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
}

.image{
  width: 100%;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  justify-content: center;
}

/* ACTIVITIES PAGE */

.activity{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} 

.list{
  text-align: left;
  padding-left: 15%;
  padding-right: 10%;
}

/* Got the below cool animation from https://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/ */
/* Resized my images using https://www.imgonline.com.ua/eng/resize-image.php */

.snapshots {
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 3px #AA5596 solid;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff;
}

.snapshots .mask {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}
.snapshots img {
  display: block;
  position: relative;
}
.snapshots h2 {
  color: #000000;
  text-align: center;
  position: relative;
  font-size: 25px;
  padding: 10px;
  background: rgba(131,155,59, 0.8);
  margin: 20px 0 0 0;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.snapshots p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 15px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.snapshots .mask {
  opacity: 0;
  background-color: rgba(173, 94, 153, 0.7); 
  transition: all 0.4s ease-in-out;
}

.snapshots:hover img { 
	transform: scale(1.1);
} 
.snapshots:hover .mask { 
	opacity: 1;
}
.snapshots:hover h2,
.snapshots:hover p {
    opacity: 1;
    transform: translateY(0px);
}

.snapshots:hover p {
    transition-delay: 0.1s;
}

/* CONTACT PAGE */

/* Got the form design from here: https://codepen.io/ZachSaucier/pen/AIJpe */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:70%; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: 'Open Sans';
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #AA5596;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #AA5596; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Indie Flower';
  width: 100%;
  background:#AA5596;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#AA5596; }







/* TABLET SIZE */
@media screen and (min-width: 768px){
  p {
    padding: 0 95px;
  }
  
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navbar{
   display: flex;
   flex-direction: row;
  }

  .navbar .bullet{
      display: inline;
    }
  
  /* HOME PAGE (OR INDEX) */
  
  .resume img {
    width: 75%;
  }

  /* WRITING PAGE */
  .hoosierabroad, .insider{
    grid-template-columns: 500px 200px;
  }

}
  
  



/* LAPTOP SIZE */
@media screen and (min-width: 1366px){
  p {
    padding: 0 200px;
  }

  h3{
    margin-left: 150px;
  }
 
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .navbar{
   display: flex;
   flex-direction: row;
  }
  
  /* HOME PAGE (OR INDEX) */
  
  .resume img {
    width: 50%;
  }

    /* WRITING PAGE */
    .hoosierabroad, .insider{
      grid-template-columns: 900px 200px;
    }

}




@media screen and (prefers-reduced-motion: reduce){
  .skip a {
    -webkit-transition: none;
    transition: none;
  }

  h1 {
    animation: none;
  }

  * {
    animation-duration: 0s;
    transition: none;
   scroll-behavior: auto;
}
}
